/* FeedbackForm.css */

.form-label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
   align-items: flex-start;
  }
  
  .text-input {
    width: 370px;
    border-radius: 20px;
    margin-top: 5px;
  }
  
  .text-area {
    width: 370px;
    border-radius: 20px;
  }
  
  .submit-button {
    width: 150px;
    background-color: #1eb5a4;
    border-radius: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #14978e;
  }
  